/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/globals.css */
@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-inherit;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-600 rounded-sm;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-700;
  }

  p {
    @apply text-sm md:text-base;
  }

  * {
    @apply font-sans;
  }
  pre {
    @apply p-2 max-h-[500px];
  }
  pre code {
    @apply font-mono;
  }

  pre code * {
    @apply font-mono text-xs md:text-sm;
  }

  .astro-code,
  .astro-code span {
    @apply font-mono;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold mt-4 md:mt-8 leading-3 text-peacock;
  }
  h1 {
    @apply text-xl md:text-3xl;
  }

  h2 {
    @apply text-lg md:text-2xl;
  }

  h3 {
    @apply text-base md:text-xl;
  }

  h4 {
    @apply text-sm md:text-lg;
  }

  h5 {
    @apply text-xs md:text-base;
  }

  p {
    @apply leading-6 my-4;
  }

  li {
    @apply my-2 ml-6;
  }

  ul li {
    @apply list-disc;
  }

  ol li {
    @apply list-decimal;
  }

  a {
    @apply text-blue-500 visited:text-purple-500;
  }

  p code {
    @apply bg-[#24292e] inline-block rounded-sm text-sm md:text-base px-2 py-0 text-pink-400;
  }

  blockquote {
  }
}
