/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/globals.css */

@layer base {
  p {
    @apply py-2 text-base md:text-base;
  }

  pre {
    @apply p-2;
  }

  pre code {
    @apply font-mono;
  }

  pre code * {
    @apply font-mono text-xs md:text-xs;
  }

  .astro-code,
  .astro-code span {
    @apply font-mono;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-serif font-normal mt-4 md:mt-10 text-black dark:text-textWhite weeb:text-textWhite text-lg;
  }

  p {
    @apply leading-6 mt-1 mb-4;
  }

  li {
    @apply my-2 ml-6;
  }

  ul li {
    @apply list-disc;
  }

  ol li {
    @apply list-decimal;
  }

  a {
    @apply text-blue-500 visited:text-purple-500;
  }

  p code {
    @apply font-serif italic inline-block text-sm md:text-base p-0 dark:bg-[#24292e] weeb:bg-[#24292e] text-pink-800 dark:text-textWhite weeb:text-textWhite bg-slate-200;
  }

  blockquote {
    @apply border-l-2 border-textWhite italic;
  }

  blockquote p {
    @apply ml-2;
  }
}

.dark .astro-code,
.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.weeb .astro-code,
.weeb .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
