---
import Header from "../../components/Header.astro";
import Navbar from "../../components/Navbar.astro";
import { Image } from "astro:assets";
import "../../styles/global.css";
---

<html lang="en" class="bg-no-repeat bg-cover bg-fixed bg-center">
  <Header
    title="mnprt's site"
    description="hey! i am manpreet. i do computer stuff."
  />
  <body
    class="font-serif min-h-dvh w-full md:backdrop-blur-[5px] bg-neutral-200 dark:bg-background/85 weeb:bg-background/85"
  >
    <div
      class="container mx-auto lg:max-w-screen-md text-textBlack text-sm md:text-base p-5 tracking-wide"
    >
      <Navbar />
      <div
        class="bg-[#F7F8F3] md:h-[700px] p-2 md:w-[90%] h-[500px] w-full mx-auto mt-16 select-none"
      >
        <div class="flex flex-col h-full p-8 items-center">
          <h1 class="text-xl">ANIME GUIDE</h1>
          <h1 class="text-[40px] leading-[60px]">Frieren</h1>
          <div class="grid grid-cols-2 gap-4 mt-4">
            <div class="flex flex-col h-full justify-between">
              <div>
                <img
                  class="h-auto w-full object-contain grayscale"
                  src="https://i.imgur.com/KrGevLd.png"
                  alt="hi"
                />
                <div class="mt-2 italic">Locations</div>
                <div class="w-full h-[1px] bg-textBlack"></div>
                <div class="flex flex-col font-sans md:text-sm text-xs py-2">
                  <p>Stadt</p>
                  <p>Äußerst</p>
                  <p>Frieren's Training Field</p>
                  <p>Hero Himmel's Tomb</p>
                  <p>Demon King's Castle</p>
                </div>
                <img
                  class="h-auto w-full object-contain grayscale"
                  src="https://static.wikia.nocookie.net/frieren/images/c/c2/Frieren_discovers_the_blue-moon_weed_field_EP2.png/"
                  alt="hi"
                />
              </div>
            </div>
            <div class="flex flex-col h-full justify-between">
              <div>
                <div>Food</div>
                <div class="w-full h-[1px] bg-textBlack"></div>
                <div class="flex flex-col font-sans md:text-sm text-xs">
                  <p>Cake</p>
                  <p>Jumbo berry special</p>
                  <p>Hamburger steak</p>
                  <p>Apple Pie</p>
                  <p>Wild Berries</p>
                  <p>Hard Bread</p>
                  <p>Tavern Ale</p>
                </div>
                <img
                  class="h-auto w-full object-contain grayscale"
                  src="https://flavourofthefilm.com/wp-content/uploads/2024/08/Frieren-giant-hamburger-steaks.png.webp"
                  alt="hi"
                />
              </div>
              <div>
                <div class="pt-2">Spells</div>
                <div class="w-full h-[1px] bg-textBlack"></div>
                <div class="flex flex-col font-sans md:text-sm text-xs">
                  <p>Zoltraak</p>
                  <p>Vollzanbel</p>
                  <p>Waldgose</p>
                  <p>Nephtear</p>
                  <p>Reelseiden</p>
                  <p>Doragate</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
