---
import Header from "../../components/Header.astro";
import Navbar from "../../components/Navbar.astro";
import "../../styles/global.css";
---

<!doctype html>
<html lang="en" class="bg-no-repeat bg-cover bg-fixed bg-center">
  <Header
    title="mnprt's site"
    description="hey! i am manpreet. i do computer stuff."
  />
  <body
    class="font-serif min-h-dvh w-full md:backdrop-blur-[5px] bg-neutral-200 dark:bg-background/85 weeb:bg-background/85"
  >
    <div
      class="container mx-auto lg:max-w-screen-md text-textBlack dark:text-zinc-50 weeb:text-zinc-50 text-sm md:text-base p-5 tracking-wide"
    >
      <Navbar />
      <p class="pt-20 font-sans">Place to put everything</p>
      <a
        href="/spam/columns"
        class="hover:cursor-pointer hover:bg-blue-400/30 text-blue-500"
      >
        [ Columns ]
      </a>
    </div>
  </body>
</html>
