---
// src/pages/writings.astro
import { getCollection } from "astro:content";
const posts = await getCollection("writings");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link rel="manifest" href="/favicon_io/site.webmanifest" />
    <title>mnprt</title>
  </head>
  <body class="bg-background font-sans">
    <div
      class="container mx-auto my-0 lg:max-w-screen-md text-zinc-50 p-5 text-sm md:text-base"
    >
      <div class="flex gap-10 mt-20 items-start">
        <img
          class="w-full max-w-[200px] md:max-w-[400px] h-auto object-contain"
          alt="frieren standing in garden of flowers"
          src="/frieren.png"
        />
        <div class="flex flex-col gap-4 md:gap-10">
          <h1 class="text-xl md:text-4xl">manpreet</h1>
          <ul class="flex flex-col gap-2">
            <li>
              <a
                href="https://github.com/manpreeeeeet"
                target="_blank"
                class="hover:cursor-pointer hover:bg-slate-800 text-blue-500"
                >[ <span class="underline">github</span> ]
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="h-1 w-full my-4 bg-slate-800"></div>
      <div class="flex flex-col gap-4">
        <p>hey! i am manpreet. i love the kotlin.</p>
      </div>
      <div class="h-1 w-full my-4 bg-slate-800"></div>
      <div>
        <h1 class="text-sm md:text-xl pb-4">posts</h1>
        <ul class="flex flex-col gap-2">
          {
            posts.map((post) => (
              <a
                href={`/posts/${post.slug}/`}
                class="visited:text-purple-500 text-blue-500"
              >
                <li class="hover:cursor-pointer hover:bg-slate-800">
                  [ {post.data.title} ]
                </li>
              </a>
            ))
          }
        </ul>
      </div>
      <div class="h-1 w-full my-4 bg-slate-800"></div>
      <div>
        <h1 class="text-sm md:text-xl pb-4">contact</h1>
        <ul class="flex flex-col gap-2">
          <li>
            <a
              href="mailto:manpreetrahal27@gmail.com"
              class="hover:cursor-pointer hover:bg-slate-800 text-blue-500"
            >
              [ email: <span class="underline">manpreetrahal27@gmail.com</span> ]
            </a>
          </li>
          <li>[ discord: manpreeeeeet]</li>
        </ul>
      </div>
    </div>
  </body>
</html>
