---
// src/pages/writings.astro
import "../styles/global.css";
import { getCollection } from "astro:content";
import Header from "../components/Header.astro";
import Analytics from "@vercel/analytics/astro";
import { Image } from "astro:assets";
import frieren from "../../public/frieren.png";
import Navbar from "../components/Navbar.astro";
const posts = await getCollection("writings");
---

<!doctype html>
<html lang="en" class="bg-no-repeat bg-cover bg-fixed bg-center">
  <Header
    title="mnprt's site"
    description="hey! i am manpreet. i do computer stuff."
  />
  <body
    class="font-sans min-h-dvh w-full md:backdrop-blur-[5px] bg-neutral-200 dark:bg-background/85 weeb:bg-background/85"
  >
    <Analytics />
    <div
      class="container mx-auto lg:max-w-screen-md text-textBlack dark:text-zinc-50 weeb:text-zinc-50 text-sm md:text-base p-5 tracking-wide"
    >
      <Navbar />
      <div class="weeb:flex weeb:gap-10 pt-20 weeb:items-start">
        <Image
          class="max-h-0 weeb:block weeb:max-h-[400px] w-full max-w-[200px] md:max-w-[400px] object-contain transition-[max-height] transform ease-in-out duration-100"
          alt="frieren standing in garden of flowers"
          loading="eager"
          src={frieren}
        />
        <div class="flex flex-col gap-4 md:gap-10">
          <h1 class="text-xl md:text-4xl">mnprt.me</h1>
          <ul class="flex flex-col gap-2"></ul>
        </div>
      </div>
      <div class="flex flex-col gap-3 weeb:pt-8">
        <h1 class="text-sm md:text-xl pb-2 text-cyan-700">About</h1>
        <p>
          Hey! I'm <span
            class="px-2 dark:bg-slate-800 weeb:bg-slate-800 dark:text-pink-400 weeb:text-pink-400 text-pink-800 bg-slate-200"
            >manpreet</span
          >.
        </p>
      </div>
      <div class="pt-8">
        <h1 class="text-sm md:text-xl pb-2 text-cyan-700">Posts</h1>
        <ul class="flex flex-col gap-2">
          {
            posts
              .filter((post) => !post.data.hidden)
              .map((post) => (
                <a
                  href={`/posts/${post.slug}/`}
                  class="visited:text-purple-500 text-blue-500"
                >
                  <li class="hover:cursor-pointer hover:bg-blue-400/30">
                    [ {post.data.title} ]
                  </li>
                </a>
              ))
          }
        </ul>
      </div>
      <div class="flex flex-col gap-2 py-8">
        <h1 class="text-sm md:text-xl pb-2 text-cyan-700">Contact</h1>
        <p class="pb-2">
          I go by <span
            class="px-2 dark:bg-slate-800 weeb:bg-slate-800 text-pink-800 dark:text-pink-400 weeb:text-pink-400 bg-slate-200"
            >mnprt</span
          > online. Contact me via:
        </p>
        <ul class="flex flex-col gap-2">
          <li class="list-disc ml-4">
            <a
              href="mailto:manpreetrahal27@gmail.com"
              class="hover:cursor-pointer hover:bg-blue-400/30 text-blue-500"
            >
              [ email: <span class="underline">mnprt@mnprt.me</span> ]
            </a>
          </li>
          <li class="list-disc ml-4">
            <a
              href="https://bsky.app/profile/mnprt.me"
              class="hover:cursor-pointer hover:bg-blue-400/30 text-blue-500"
            >
              [ bsky: <span class="underline">mnprt.me</span> ]
            </a>
          </li>
          <li class="list-disc ml-4">[ discord: manpreeeeeet ]</li>
        </ul>
      </div>
      <div
        class="h-0.5 w-full my-2 bg-pink-800/30 dark:bg-slate-600 weeb:bg-slate-600"
      >
      </div>
    </div>
  </body>
</html>
