---
// src/pages/writings.astro
import { getCollection } from "astro:content";
import Header from "../components/Header.astro";
import Analytics from "@vercel/analytics/astro";
import { Image } from "astro:assets";
import frieren from "../../public/frieren.png";
const posts = await getCollection("writings");
---

<!doctype html>
<html lang="en" class="bg-frieren bg-no-repeat bg-cover bg-fixed bg-center" }>
  <Header
    title="mnprt's site"
    description="hey! i am manpreet. i love the kotlin."
  />
  <body class="font-sans min-h-screen md:backdrop-blur-[5px] bg-background/85">
    <Analytics />
    <div
      class="container mx-auto lg:max-w-screen-md text-zinc-50 text-sm md:text-base p-5 tracking-wide"
    >
      <div class="flex gap-10 pt-20 items-start">
        <Image
          class="w-full max-w-[200px] md:max-w-[400px] h-auto object-contain"
          alt="frieren standing in garden of flowers"
          loading="eager"
          src={frieren}
        />
        <div class="flex flex-col gap-4 md:gap-10">
          <h1 class="text-xl md:text-4xl">mnprt.me</h1>
          <ul class="flex flex-col gap-2">
            <li>
              <a
                href="https://github.com/manpreeeeeet"
                target="_blank"
                class="hover:cursor-pointer hover:bg-blue-400 text-blue-500 py-2"
                >[ <span class="underline">github</span> ]
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-2 pt-5">
        <h1 class="text-sm md:text-xl pb-2 text-peacock">## About</h1>
        <p>
          Hey! I'm <span class="px-2 bg-slate-800 text-pink-400">manpreet</span
          >.
        </p>
        <p>
          I enjoy writing <span class="px-2 bg-slate-800 text-pink-400"
            >Kotlin</span
          >, learning new technologies and reading <a
            href="https://news.ycombinator.com/"
            class="hover:cursor-pointer hover:bg-blue-400/30 text-blue-500"
            >[ hackernews ]</a
          > articles.
        </p>
        <p>
          I am studying <span class="px-2 bg-slate-800 text-pink-400"
            >Computer Science</span
          > at <span class="text-fadegreen">University of Alberta</span>. I am
          currently interested in information retrieval and distributed systems.
        </p>
      </div>
      <div class="pt-5">
        <h1 class="text-sm md:text-xl pb-2 text-peacock">## Posts</h1>
        <ul class="flex flex-col gap-2">
          {
            posts.map((post) => (
              <a
                href={`/posts/${post.slug}/`}
                class="visited:text-purple-500 text-blue-500"
              >
                <li class="hover:cursor-pointer hover:bg-slate-800">
                  [ {post.data.title} ]
                </li>
              </a>
            ))
          }
        </ul>
      </div>
      <div class="flex flex-col gap-2 pt-5">
        <h1 class="text-sm md:text-xl pb-2 text-peacock">## Contact</h1>
        <p class="pb-2">
          I go by <span class="px-2 bg-slate-800 text-pink-400">mnprt</span> online.
          Contact me via:
        </p>
        <ul class="flex flex-col gap-2">
          <li class="list-disc ml-4">
            <a
              href="mailto:manpreetrahal27@gmail.com"
              class="hover:cursor-pointer hover:bg-blue-400/30 text-blue-500"
            >
              [ email: <span class="underline">mnprt@mnprt.me</span> ]
            </a>
          </li>
          <li class="list-disc ml-4">
            <a
              href="https://bsky.app/profile/mnprt.me"
              class="hover:cursor-pointer hover:bg-blue-400/30 text-blue-500"
            >
              [ bsky: <span class="underline">mnprt.me</span> ]
            </a>
          </li>
          <li class="list-disc ml-4">[ discord: manpreeeeeet ]</li>
        </ul>
      </div>
    </div>
  </body>
</html>
