---
import Header from "../components/Header.astro";
import { Metrics } from "../components/Metrics";
---

<!doctype html>
<html lang="en" class="bg-frieren bg-no-repeat bg-cover bg-fixed bg-center" }>
  <Header
    title="mnprt's site"
    description="hey! i am manpreet. i love the kotlin."
  />
  <body class="font-sans min-h-dvh md:backdrop-blur-[5px] bg-background/85">
    <div
      class="container mx-auto lg:max-w-screen-md text-zinc-50 text-sm md:text-base p-5 tracking-wide"
    >
      <Metrics client:load />
    </div>
  </body>
</html>
