---
import Theme from "./Theme.astro";
---

<div class="flex gap-1 items-start">
  <a
    href="/"
    class="hover:cursor-pointer hover:bg-blue-400/30 text-blue-500 visited:text-purple-500 py-2"
    >[ Home ]</a
  >
  <div class="ml-auto py-1.5">
    <Theme />
  </div>
</div>
