---
import "../styles/writings.css";
import Header from "./Header.astro";
import Analytics from "@vercel/analytics/astro";
export interface Props {
  title?: string;
  description?: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-frieren bg-no-repeat bg-cover bg-fixed bg-center">
  <Header title={title} description={description} />
  <body
    class="font-mono min-h-dvh md:backdrop-blur-[5px] bg-background/85 tracking-wide"
  >
    <Analytics />
    <div
      class="container mx-auto my-0 lg:max-w-[850px] text-zinc-50 p-5 text-sm md:text-base pb-8"
    >
      <a
        href="/"
        class="hover:cursor-pointer hover:bg-slate-800 text-blue-500 py-2"
        >[ Home ]</a
      >
      <slot />
      <div class="my-10"></div>
      <div class="h-1 w-full my-4 bg-slate-800"></div>
    </div>
  </body>
</html>
