---
import "../styles/global.css";
import "../styles/writings.css";
import Header from "./Header.astro";
import Navbar from "./Navbar.astro";
import Comments from "./Comments";
export interface Props {
  title?: string;
  description?: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-no-repeat bg-cover bg-fixed bg-center">
  <Header title={title} description={description} />
  <body
    class="font-sans min-h-dvh w-full md:backdrop-blur-[5px] bg-[#FFFFFF] dark:bg-background/85 weeb:bg-background/85"
  >
    <div
      class="container font-serif mx-auto lg:max-w-screen-md text-[#334] dark:text-textWhite weeb:text-zinc-50 p-5 tracking-wide"
    >
      <Navbar />
      <slot />
      <hr class="py-2" />
      <Comments client:only="react" />
    </div>
  </body>
</html>
