---
import "../styles/writings.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
  </head>
  <body class="bg-background font-mono">
    <div
      class="container mx-auto my-0 lg:max-w-[850px] text-zinc-50 p-5 text-sm md:text-base"
    >
      <a href="/" class="hover:cursor-pointer hover:bg-slate-800 text-blue-500"
        >[ home ]</a
      >
      <slot />
    </div>
  </body>
</html>
